<div class="footer">
  <div>
      <Ul>
          <li><a href="#">OUR VEHICLES</a></li>
          <li><a href="#">RANGE ROVER</a></li>
          <li><a href="#">RANGE ROVER SPORT</a></li>
          <li><a href="#">RANGE ROVER VELAR</a></li>
          <li><a href="#">RANGE ROVER EVOQUE</a></li>
          <li><a href="#">NEW DISCOVERY</a></li>
          <li><a href="#">DISCOVERY SPORT</a></li>
          <li><a href="#">DEFENDER</a></li>
          <li><a href="#">SPECIAL VEHICLE OPERATIONS</a></li>
          <li><a href="#">COMPARE OUR VEHICLES</a></li>
          <li><a href="#">OUR VEHICLES</a></li>
          <li><a href="#">SEVEN SEATER SUVS</a></li>
          <li><a href="#">TOWING</a></li>

      </Ul>
  </div>
  <div>
      <Ul>
          <li><a href="#">EXPLORE LAND ROVER</a></li>
          <li><a href="#">OVERVIEW</a></li>
          <li><a href="#">TOTAL CARE APP</a></li>
          <li><a href="#">RANGE ROVER VELAR</a></li>
          <li><a href="#">ACCESSORIES</a></li>
          <li><a href="#">SERVICING</a></li>
          <li><a href="#">SERVICE PLANS</a></li>
          <li><a href="#">SOFTWARE UPDATES</a></li>
          <li><a href="#">FIND A CENTRE</a></li>
          <li><a href="#">MANUFACTURING TOURS</a></li>
          <li><a href="#">OUR VEHICLES</a></li>
          <li><a href="#">OUR APPROACH</a></li>
          <li><a href="#">CONTACT US</a></li>
      </Ul>
  </div>
  <div>
      <Ul>
          <li><a href="#">EXPLORE LAND ROVER</a></li>
          <li><a href="#">OVERVIEW</a></li>
          <li><a href="#">TOTAL CARE APP</a></li>
          <li><a href="#">RANGE ROVER VELAR</a></li>
          <li><a href="#">ACCESSORIES</a></li>
          <li><a href="#">SERVICING</a></li>
          <li><a href="#">SERVICE PLANS</a></li>
          <li><a href="#">SOFTWARE UPDATES</a></li>
          <li><a href="#">FIND A CENTRE</a></li>
          <li><a href="#">MANUFACTURING TOURS</a></li>
          <li><a href="#">OUR VEHICLES</a></li>
          <li><a href="#">OUR APPROACH</a></li>
          <li><a href="#">CONTACT US</a></li>
      </Ul>
  </div>
  <div class="social">
      <Ul>
          <li><a href="#"><img src="../../../assets/img/facebook.png">FACEBOOK</a></li>
          <li><a href="#"><img src="../../../assets/img/twitter.png">TWITTER</a></li>
          <li><a href="#"><img src="../../../assets/img/youtube.png">YOUTUBE</a></li>
          <li><a href="#"><img src="../../../assets/img/instgram.png">INSTAGRAM</a></li>
      </Ul>
  </div>
</div>
